/*full content*/
body{
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.8);
}

/*fonts*/
h1{
  color: white;
  font-size: 40px;
  text-align : center;
  font-family: Consolas, 'Courier New', monospace;
}
p{
  color: white;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
  margin: 20px
}
ul{
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
  }

/*footer*/
.footer{
  color: white;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
  text-align: center;
}

/*navbar*/
.navbar ul{
  list-style-type: none;
  overflow: hidden;
  border-bottom: 2px solid black;
  padding: 0px;
  margin: 0px;
  height: 75px;
}
.navbar a{
  color: white;
  text-decoration: none;
  padding: 25px;
  display: block;  
  text-align: center;
  font-size: 25px;
  border-right: 2px solid black;
  overflow:hidden;
 }
.navbar a:hover{
  background-color: black;
}
.navbar li{
  float: left;
}