*{
  box-sizing: border-box;
}
html{
  height: 100%;
  box-sizing: border-box;
}

/*content*/
body{
  margin: 0px;
  padding: 0px;
  background: linear-gradient(#333333,black);
  color: white;
  font-family: Consolas, 'Courier New', monospace;
  box-sizing: border-box;
  height: 100%;
}
.wrapper{
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
main{
  flex-grow: 1;
}
h1{
  padding-left: 10px;
  padding-right: 10px;
  font-size: 40px;
  text-align: center;
}
p{
  font-size: 20px;
  margin: 20px;
}
ul{
  padding-left: 10px;
  font-size: 20px;
  margin: 20px;
}

/* workspace*/
.workspace{
  margin:0;
}
input[type=test]{
  margin: 50px;
}


/*projects page*/
.projects{
  /* flexbox 
    flex-direction: row;
    display: flex;
  */
  
  align-items: stretch;
  display: grid;
  grid-template-areas: 
  "ideas inProgress Completed";
  
}

.ideas{
  border: solid white 2px;
  border-radius: 20px;
  background-color: black;
  margin-left: 10px;
  /*
  flex-basis: 30%;
  */
}
.inProgress{
  border: solid white 2px;
  border-radius: 20px;
  background-color: black;
  margin-left: 10px;
  /*
  flex-basis: 30%;
  */
}
.completed{
  border: solid white 2px;
  border-radius: 20px;
  background-color: black;
  margin-left: 10px;
  margin-right: 10px;
  /*
  flex-basis: 30%;
  */
}
@media screen and (orientation: portrait) {
  .projects{
    background: linear-gradient(#333333, black);
    grid-template-areas: 
    "ideas" 
    "inProgress" 
    "Completed";
  }
  .completed{
    margin-right:0px;
  }
}
#cLink,#cLink:link,#cLink:visited{
  color: white;
  font-size: 20px;
  font-style: strong;
}
#cLink:hover,#cLink:active{
  color: grey;
  font-size: 20px;
  font-style: strong;
}

/*footer*/
.footer{
  color: white;
  font-size: 20px;
  font-family: Consolas, 'Courier New', monospace;
  text-align: center;
  background-color: black;
}

.footer p{
  margin: 0px;
}

.footer h1{
  margin: 0px;
}

/*navbar*/
.header{
  padding-bottom: 20px;
}
.header ul{
  list-style-type: none;
  overflow: hidden;
  border-bottom: 2px solid black;
  padding: 0px;
  margin: 0px;
  height: 75px;
}
.header a{
  color: white;
  text-decoration: none;
  padding: 25px;
  display: flex;  
  text-align: center;
  font-size: 25px;
  border-right: 2px solid black;
  overflow: hidden;
 }
.header a:hover{
  background-color: black;
}
.header li{
  float: left;
}

